<div class="spinner-wrapper is-overlay is-hidden"
     id="spinner">
    <div class="loading-content">
        <div class="loader"></div>
        <div class="loading-text">
            <h3>Analyzing...</h3>
            <p id="loading-status">Fetching URL content</p>
        </div>
    </div>
</div>